.title {
    text-align: center;
    
}


.body_main_header{

    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.body_main {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

    padding-bottom: 20px;
    margin-left: 500px;
    border-bottom:2px solid black;
    width: 500px;
    
}
.images {
    text-align: center;
}

.button {
    background-color: transparent;
    padding: 10px 10px;
}

.button_location {
    text-align: center;
}