
/*Navagation bar stuff*/
ul{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
body {
    background-color: white;
}
li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    
}
.navback{
    float: right;
    position: relative;
    right: 60px;
}
.navback2 {
    float: left;
}
.navback2_text {
    float: left;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;    
}

.navback:hover{
    background-color: rgba(180, 208, 180, 0);
}
/*Introduction*/
.intro {
    color: rgb(0, 0, 0);
    display: block;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position:relative;
    left: 200px;
    line-height: 2px;
}
/*Name stuff*/
.Name {
    color: black;
    position:relative;
    left: 200px;
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    line-height: 10px;
    
    padding-bottom: 25px;
    border-bottom:2px solid black;
    border-right: 30px;
    width: 400px;
    
}
/*About me header*/
.about_me_header {
    color: black;
    position:relative;
    left: 220px;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;   
}
/*About me body of text formatting*/
.about_me_body {
    line-height: 23px;
    color: black;
    position:relative;
    left: 220px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;    
}
/*picture of me stuff*/
.roundimage {
    border-radius: 50%;
    float: right;
   position:relative;
   right: 300px;
   overflow: hidden; 
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
